<div class="about h-screen px-24 mx-28">
    <h1 class="text-opalwhite text-3xl font-bold mb-10"><span
            class="text-hightext font-mono font-normal text-2xl">01.</span> About me
        <hr class="inline-block w-72 opacity-30 relative left-2 bottom-2">
    </h1>
    <div class="presentation w-max relative flex flex-row gap-44">
        <div class="text-presentation">
            <p class="max-w-md text-opacwhite text-lg">Hi! My name is Emanuele and. My interest in web development
                started back in 2019 when i tried editing
                some custom Discord themes and that actually taught me a lot about HTML and CSS! <br><br>
                Here are a few technologies I've been working on with:
            </p>
            <br>
            <div class="list flex flex-row gap-20 text-opacwhite font-mono text-sm">
                <ul>
                    <li class="before:content-['▹'] before:text-hightext before:text-xs"> JavaScript (ES6+)</li>
                    <li class="before:content-['▹'] before:text-hightext before:text-xs"> Angular</li>
                    <li class="before:content-['▹'] before:text-hightext before:text-xs"> Node.js</li>
                </ul>
                <ul>
                    <li class="before:content-['▹'] before:text-hightext before:text-xs"> TypeScript</li>
                    <li class="before:content-['▹'] before:text-hightext before:text-xs"> WordPress</li>
                    <li class="before:content-['▹'] before:text-hightext before:text-xs"> Sass</li>
                </ul>
            </div>
        </div>
        <div class="wrapper w-4/12">
            <img src="{{path}}" class="rounded-md">
        </div>
    </div>
</div>