<div class="works flex flex-col h-screen px-24 mx-28 gap-9" id="work">
  <h1 class="text-opalwhite text-3xl font-bold mb-10">
    <span class="text-hightext font-mono font-normal text-2xl">02.</span>
    Some things I've worked on
    <hr class="inline-block w-52 opacity-30 relative left-2 bottom-2" />
  </h1>

  <div class="card flex flex-row px-11 justify-evenly items-center">
    <div class="card-img relative">
      <div
        class="overlay w-full h-full hover:bg-[#60f6d330] absolute transition-all duration-300"
      ></div>
      <img src="{{ img1 }}" alt="" />
    </div>
    <div class="card-text h-36 pr-10 text-right relative w-full">
      <h2 class="font-mono text-sm font-medium text-hightext">
        Featured project
      </h2>
      <h1 class="text-opalwhite font-bold text-2xl mb-5">DarkForest Theme</h1>
      <p
        class="text-opalwhite font-light bg-[#112240] z-40 py-6 px-10 w-[60ch] absolute right-10"
      >
        A minimal dark blue and green theme for VS Code, Atom and IntelliJ.
        Available on respective marketplace.
      </p>
    </div>
  </div>

  <div class="card flex flex-row px-11 justify-evenly items-center mt-20">
    <div class="card-text h-36 pr-10 text-left relative w-full">
      <h2 class="font-mono text-sm font-medium text-hightext">
        Featured Project
      </h2>
      <h1 class="text-opalwhite font-bold text-2xl mb-5">LiberaMente</h1>
      <p
        class="text-opalwhite font-light bg-[#112240] z-40 py-6 px-10 w-[60ch] absolute"
      >
        The website of Liberamente, an association of
        <a
          target="_blank"
          href="https://www.unisa.it/"
          class="text-hightext underline"
          >Università degli Studi di Salerno</a
        >
        Computer Science department.
      </p>
    </div>
    <div class="card-img relative">
      <div
        class="overlay w-full h-full hover:bg-[#60f6d330] absolute transition-all duration-300"
      ></div>
      <img src="{{ img1 }}" alt="" />
    </div>
  </div>
</div>
