<div class="intro flex flex-col justify-center p-20 pt-0 h-screen mx-28 mt-9 w-max text-hightext">
    <p class="font-mono text-lg font-medium mb-5">Hi! My name is</p>
    <h1 class="nome text-6xl font-bold font-sans text-opalwhite">Emanuele Ragozzini.</h1>
    <h1 class="cose text-6xl font-bold font-sans mt-2 text-opacwhite">I
        <div class="words inline-flex flex-col items-center overflow-hidden h-28 opacity-80">
            <span class="relative inline-block text-hightext">build</span>
            <span class="relative inline-block text-hightext">design</span>
            <span class="relative inline-block text-hightext">create</span>
            <span class="relative inline-block text-hightext">build</span>
        </div> things for the web.
    </h1>
    <p class="cose lunghe text-lg mt-50 w-96 overflow-hidden text-opacwhite">I'm a front-end dev specialized in UI for
        the best digital experieces.
        Currently, I'm focused on my studies at <a target="_blank" href="https://www.unisa.it/"
            class="text-hightext underline">Università degli Studi di Salerno</a>.</p>
</div>